$palette: (
        red: (
                light: #fff2f1,
                mid: #ff7369,
                dark: #c90d00
        ),
        blue: (
                lightest: #5e7298,
                light: #404d69
        ),
        black: #000,
        white: #fff,
        grey: #333
)!default;

